@model IEnumerable<Cms.Data.Page>

@{
    ViewBag.Title = "Welcome Home";
}

<h2>Welcome Home</h2>

This is where the heart is

<table>
    @foreach (var page in Model)
    {
        <tr>
            <td>@page.Id</td>
            <td>@page.Name</td>
        </tr>
    
    }
</table>
