<html ng-app="cmsAdmin">
<head>
    <link rel="stylesheet" href="~/Content/bootstrap.css" />

    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/angular-resource.min.js"></script>
    <script src="~/Scripts/angular-ui-router.min.js"></script>


    <script src="~/Scripts/cmsAdmin/app.js"></script>
    <script src="~/Scripts/cmsAdmin/controllers.js"></script>
    <script src="~/Scripts/cmsAdmin/service.js"></script>

</head>
<body >

    <div ui-view></div>


</body>

</html>
